* {
	font-family: 'Lato';
	font-style: normal;
}
/* #LoginWrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}
#LoginContainer {
	width: 200px;
	justify-content: center;
	display: flex;
	flex-direction: column;
} */
